<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430077110172-7jj4jrr7cuqha2dmb11v871h98u6nk19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430077110172-7jj4jrr7cuqha2dmb11v871h98u6nk19</string>
	<key>API_KEY</key>
	<string>AIzaSyB-JkMWafhiXeIM2mMNmX9QalqVAagFasw</string>
	<key>GCM_SENDER_ID</key>
	<string>430077110172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shivam.iplplay</string>
	<key>PROJECT_ID</key>
	<string>ipl-prediction-team</string>
	<key>STORAGE_BUCKET</key>
	<string>ipl-prediction-team.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430077110172:ios:5fbc4fc3f4bde4cc4f8a59</string>
	<key>DATABASE_URL</key>
	<string>https://ipl-prediction-team-default-rtdb.firebaseio.com</string>
</dict>
</plist>